h1::before {
	content: '';
	padding-right: 48px;
	padding-left: 18px;
	background-image: url(/public/table-games.png);
	background-size: contain;
	background-repeat: no-repeat;
}

body {
	margin:20px;
	padding: 20px;
}

.dark-mode {
	background-color: #252526;
	color: white;
}

.game-image{
	max-width: 100%;
	max-height: 100%;
}

.image-column {
	height:200px;
	width:200px;
	vertical-align: middle;
}

.games-table {
    table-layout: auto;
    max-width: 550px;
	max-height: 200px;
}

.game-details-table {
    table-layout: auto;
    max-width: 1000px;
}

.first-col {
	width: 130px;
}

.common-row {
	height: 10px;
}

.top-right {
	position: absolute; 
	top: 15px; 
	right: 15px;
}

