h1::before {
	content: '';
	padding-right: 48px;
	background-image: url(/public/table-games.png);
	background-size: contain;
	background-repeat: no-repeat;
}

body {
	margin:20px;
	padding: 20px;
}

.game-image{
	max-width: 200px;
  	height: auto;
}

table {
    table-layout: auto;
    max-width: 600px;
}

.vertical-center {
	display: table-cell;
	margin: auto;
	vertical-align: middle;
}