<h1>BORGA - BOaRd Games Application</h1>

<p>
    BORGA (BOaRd Games Application) provides access, through a web interface (hypermedia), to some of the features
    provided by the <a href="https://www.boardgameatlas.com/">Board Game Atlas</a> website, making use of its
    <a href="https://www.boardgameatlas.com/api/docs">WebAPI</a> for this purpose.
</p>

<p>For all group operations, a user token must be sent in the Authorization header using a Bearer Token.</p>

<strong>Authors: André Jesus, Nyckollas Brandão and André Santos.</strong>

<br>

<img src="https://www.isel.pt/media/assets/default/images/logo-isel.png" class="rounded mx-auto d-block"
    alt="ISEL Logo">