<h1>BORGA - BOaRd Games Application</h1>

<p>
    BORGA (BOaRd Games Application) provides access, through a web interface (hypermedia), to some of the features
    provided by the <a href="https://www.boardgameatlas.com/">Board Game Atlas</a> website, making use of its
    <a href="https://www.boardgameatlas.com/api/docs">WebAPI</a> for this purpose.
</p>

<p class="mb-1">Allows the following operations:</p>
<ul>
    <li>Search board games by name</li>
    <li>See details of a specific game</li>
    <li>Gets the 20 most popular board games</li>
    <li>Create and manage groups of games (requires login)</li>
</ul>

<p><strong>Authors: 
    <a href="https://github.com/Andre-J3sus">André Jesus</a>,
    <a href="https://github.com/Nyckoka">Nyckollas Brandão</a> and
    <a href="https://github.com/AndreSantos0">André Santos</a>.
</strong></p>
<p>Project GitHub repository <a href="https://github.com/isel-leic-ipw/borga-ipw_pi-leicipw32d-g03">here</a>.</p>
<p>Professor: Eng. João Trindade</p>
<p class="mb-1">Bachelor in Computer Science and Computer Engineering</p>
<p class="mb-1">Introduction to Web Programming</p>
<p>Winter Semester of 2021/2022 </p>

<br>

<img src="https://www.isel.pt/media/assets/default/images/logo-isel.png" class="rounded mx-auto d-block"
    alt="ISEL Logo">