<h1>Register New User</h1>
<form action="#">
    <div class="form-group">
        <label for="txtQuery">User Name:</label>
        <input type="text" id="txtQuery" name="userName" placeholder="Enter User Name">
    </div>
    <div class="form-group">
        <label for="txtQuery">User Id:</label>
        <input type="text" id="txtQuery" name="userId" placeholder="Enter User Id">
        <small id="emailHelp" class="form-text text-muted">User Id is recommended to be some short and easy to remember.</small>
    </div>
    <input type="button" value="Register">
</form>