<h1>Register New User</h1>
<form>
  <div class="mb-3">
    <label for="userName" class="form-label">User Name:</label>
    <input type="text" class="form-control" id="userName" aria-describedby="userName" placeholder="Enter User Name">
  </div>

  <div class="mb-3">
    <label for="userName" class="form-label">User Id:</label>
    <input type="text" class="form-control" id="userName" placeholder="Enter User Id">
    <small id="emailHelp" class="form-text text-muted">User Id is recommended to be some short and easy to
      remember.</small>
  </div>
  
  <button type="submit" class="btn btn-primary">Register</button>
</form>