<h1>Find a Game</h1>

<div class="card card-body w-50 center">
    <form action="/games" method="GET">
        <div class="mb-3">
            <label for="gameName" class="form-label">Game Name</label>
            <input type="text" class="form-control" id="gameName" name="gameName" placeholder="Enter game name"
                maxlength="50" required>
            <small id="gameNameHelp" class="form-text text-muted">Example: Catan, Monopoly, etc</small>
        </div>

        <div class="mb-3">
            <label for="order" class="form-label">Order by</label>
            <select class="form-select inline w-50" aria-label="order" id="order_by" name="order_by">
                <option value="" selected>Select a order to display the results</option>
                <option value="rank">Rank</option>
                <option value="price">Price</option>
                <option value="name">Name</option>
            </select>

            <label for="limit" class="form-label">Number of results</label>
            <input type="number" id="limit" name="limit" min="1" max="100">
        </div>

        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>