<h1>Find a Game</h1>

<form action="/games" method="GET">
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="gameName" placeholder="Enter Game Name"
            aria-label="Enter Game Name" aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Search</button>
    </div>
    <small id="emailHelp" class="form-text text-muted">Example: Catan, Monopoly, etc</small>
</form>