{{#with user}}
<div class="container">
	<div class="row justify-content-evenly">
		<div class="col-5 card m-1 inline">
			<div class="card-body">
				<h1 class="card-title">{{userName}}</h1>
				<h3>{{userId}}</h1>
			</div>
		</div>
	</div>
</div>
{{/with}}